---
title: Client Dependencies
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

See below for information about the dependencies required for client applications using Spring Cloud Services service instances.

## <a id="include-dependencies"></a>Include Spring Cloud Services Dependencies

<%= partial 'general-dependencies' %>

### <a id="config-server"></a>Config Server

Your application must declare `spring-cloud-services-starter-config-client` as a dependency.

<%= partial 'config-server-dependency' %>

### <a id="service-registry"></a>Service Registry

Your application must declare `spring-cloud-services-starter-service-registry` as a dependency.

<%= partial 'service-registry-dependency' %>

### <a id="circuit-breaker-dashboard"></a>Circuit Breaker Dashboard

Your application must declare `spring-cloud-services-starter-circuit-breaker` as a dependency.

<%= partial 'circuit-breaker-dashboard-dependency' %>
