---
title: Installing Spring Cloud Services for Pivotal Cloud Foundry&reg;
---

<strong><%= modified_date %></strong>

Make sure that you have or have completed all products and requirements listed in the <a href="/spring-cloud-services/prerequisites.html">Prerequisites</a> subtopic. Then follow the below steps to install Spring Cloud Services.

## Installation Steps

1. Download Spring Cloud Services from [Pivotal Network](https://network.pivotal.io/).

1. In [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager, click **Import a Product** on the left sidebar to upload the `p-spring-cloud-services-<version>.pivotal` file.

    <%= image_tag("./images/pre-upload.png") %>

1. Hover over **Spring Cloud Services** in the **Available Products** list and click the **Add &#187;** button.

    <%= image_tag("./images/pre-add.png") %>

1. When the **Spring Cloud Services** tile appears in the **Installation Dashboard**, click it. In the **Settings** tab, click **Spring Cloud Services** to configure the **Service Instance Limit** setting. The value of this setting is the maximum number of service instances that the Spring Cloud Services service broker will allow to be provisioned (the default value is 100). This setting's value is also used to determine the memory quota for the org in which service instances are deployed; that org's quota will be equal to 1.5G times the configured service instance limit.

    <%= image_tag("./images/service-instance-limit.png") %>

1. Start the installation process by clicking **Apply changes** on the right sidebar.

    <%= image_tag("./images/post-add.png") %>

1. The installation process may take 20 to 30 minutes.

    <%= image_tag("./images/applying-changes.png") %>

1. When the installation process is complete, you will see the dialog shown below. Click **Return to Installation Dashboard**.

    <%= image_tag("./images/changes-applied.png") %>

1. Congratulations! You have successfully installed Spring Cloud Services.

    <%= image_tag("./images/post-install.png") %>
