---
title: Installing Spring Cloud&reg; Services for Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

Make sure that you have or have completed all products and requirements listed in the <a href="/spring-cloud-services/prerequisites.html">Prerequisites</a> topic. Then follow the below steps to install Spring Cloud Services.

## Installation Steps

1. Download Spring Cloud Services from [Pivotal Network](https://network.pivotal.io/).

1. In the Installation Dashboard of [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager, click **Import a Product** on the left sidebar to upload the Spring Cloud Services `.pivotal` file.

    <%= image_tag("./images/installation/pre-upload.png") %>

1. Hover over **Spring Cloud Services** in the **Available Products** list and click the **Add &#187;** button.

    <%= image_tag("./images/installation/pre-add.png") %>

1. When the **Spring Cloud Services** tile appears in the **Installation Dashboard**, click it. In the **Settings** tab, click **Spring Cloud Services** to configure settings for Spring Cloud Services.

    <%= image_tag("./images/installation/settings.png") %>

    The **Service instance limit** setting sets the maximum number of service instances that the Spring Cloud Services service broker will allow to be provisioned (the default value is 100). This setting's value is also used to determine the memory quota for the org in which service instances are deployed; that org's quota will be equal to 1.5G times the configured service instance limit. The **App push timeout** setting is the number of minutes the broker allows for a service instance backing application to start. The **Buildpack** setting is the name of the Java buildpack that the Spring Cloud Services service broker will use to provision service instances (if this setting is left empty, the broker will use the default Java buildpack to provision service instances). The **Do not validate that SSL certificates are properly configured** checkbox, if checked, disables the validation that Spring Cloud Services performs by default on the Pivotal Cloud Foundry&reg; Elastic Runtime SSL certificate.

    <%= image_tag("./images/installation/service-settings.png") %>

    The **Persistence store service** and **Persistence store service plan** settings set the service and service plan for the service broker's MySQL database. This must be a service that provides a MySQL-compatible database. The **Message bus service** and **Message bus service plan** settings set the service and service plan for the broker's message bus.
<br /><br />These settings should be configured only during the Spring Cloud Services tile installation process. If you have already completed the tile installation process, do not alter these settings.

    <p class="note warning"><strong>WARNING: </strong> Configuring the service broker's dependent services after installing the tile can cause corruption or loss of the broker's service instance data.</p>

<%# removing for now
1. If the **Stemcell** tab is highlighted in orange, click it. Download the correct stemcell from [Pivotal Network](http://network.pivotal.io) and click **Import Stemcell** to import it.

    installation/stemcell.png
%>

1. If you wish to use CredHub to secure service instance credentials, enable the **Secure service instance credentials** checkbox.

    <p class="note"><strong>Important: </strong> To use CredHub with Spring Cloud Services, you must be using Pivotal Application Service (PAS) 2.0 or later, have <a href="http://docs.pivotal.io/pivotalcf/opsguide/secure-si-creds.html">configured the PAS CredHub</a>, and have at least one job instance configured in the PAS tile's Resource Config settings tab.</p>

    <%= image_tag("./images/installation/secure-si-credentials.png") %>

1. Return to the Installation Dashboard and start the installation process by clicking **Apply changes** on the right sidebar.

    <%= image_tag("./images/installation/post-add.png") %>

1. The installation process may take 20 to 30 minutes.

    <%= image_tag("./images/installation/applying-changes.png") %>

1. When the installation process is complete, you will see the dialog shown below. Click **Return to Installation Dashboard**.

    <%= image_tag("./images/installation/changes-applied.png") %>

1. Congratulations! You have successfully installed Spring Cloud Services.

    <%= image_tag("./images/installation/post-install.png") %>
