---
title: Upgrading Spring Cloud&reg; Services for Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

## <a id="product-upgrade-steps"></a>Product Upgrade Steps

Follow the below steps to upgrade the Spring Cloud Services product.

1. Download the latest version of Spring Cloud Services from [Pivotal Network](https://network.pivotal.io/).

1. In the Installation Dashboard of [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager, click **Import a Product** on the left sidebar to upload the `p-spring-cloud-services-<version>.pivotal` file.

    <%= image_tag("./images/upgrades/pre-upload.png") %>

1. After uploading the file, click the **+** button beside the version number under **Spring Cloud Services** in the product list.

    <%= image_tag("./images/upgrades/pre-upgrade.png") %>

1. Click the Spring Cloud Services tile. In the **Errands** tab, ensure that all of the Spring Cloud Services errands are enabled.

    <%= image_tag("./images/upgrades/errands.png") %>

    <p class='note'><strong>Important</strong>: The <strong>Broker Registrar</strong> post-deploy errand makes the Spring Cloud Services service broker's plans globally available (available to all orgs). This overrides any previous changes you have made to Spring Cloud Services service plan availability.</p>

<%# removing for now
1. If the **Stemcell** tab is highlighted in orange, click it. Then click **Import Stemcell** to import the correct stemcell.

    upgrades/stemcell.png
%>

1. Return to the Installation Dashboard and click **Apply changes** on the right sidebar.

    <%= image_tag("./images/upgrades/post-upgrade.png") %>

1. The upgrade process may take 20 to 30 minutes.

    <%= image_tag("./images/upgrades/applying-changes.png") %>

1. When the upgrade process is complete, you will see the dialog shown below. Click **Return to Installation Dashboard**.

    <%= image_tag("./images/upgrades/changes-applied.png") %>

1. Congratulations! You have successfully upgraded Spring Cloud Services.

    <%= image_tag("./images/upgrades/installation-dashboard.png") %>

## <a id="service-instance-upgrade-steps"></a>Service Instance Upgrade Steps

After upgrading the Spring Cloud Services product, you can follow the below steps to upgrade an individual service instance or to upgrade all service instances. You can also use the Cloud Foundry Command Line Interface tool (cf CLI) to upgrade an individual service instance; see the [Service Instance Upgrades](/spring-cloud-services/service-instance-upgrades.html) topic for more information.

1. To see the current version of a service instance, visit the Service Instances dashboard. (See the [Service Instances Dashboard](/spring-cloud-services/service-broker-and-instances.html#service-instances-dashboard) section of the [The Service Broker and Instances](/spring-cloud-services/service-broker-and-instances.html) topic.)

    <%= image_tag("./images/upgrades/si-dashboard-pre-upgrade.png") %>

1. Click **Upgrade** in the listing for the service instance. To upgrade all service instances which are not at the versions included in the currently-installed Spring Cloud Services product, you may also click **Upgrade Service Instances**.

    <%= image_tag("./images/upgrades/si-dashboard-upgrade.png") %>

    <%= image_tag("./images/upgrades/si-dashboard-upgrade-service-instances.png") %>

1. Wait while any backing applications belonging to the service instance or instances are upgraded. The dashboard will show the `UPDATING` status for an instance while it is being upgraded.

    <%= image_tag("./images/upgrades/si-dashboard-upgrading-instances.png") %>

1. When the service instances have been upgraded, the dashboard will show the new versions.

    <%= image_tag("./images/upgrades/si-dashboard-post-upgrade.png") %>

