---
title: Upgrading Spring Cloud Services for Pivotal Cloud Foundry&reg;
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

## <a id="product-upgradeability"></a>Product Upgradeability

Please see the relevant section below for important information regarding upgrades of the Spring Cloud Services product on your version of Pivotal Cloud Foundry&reg;.

### Upgrades on Pivotal Cloud Foundry&reg; 1.6

When upgrading to a patch version of the Spring Cloud Services (SCS) product on Pivotal Cloud Foundry&reg; 1.6, you must consecutively apply all patch versions between your currently-installed SCS version and the version to which you wish to upgrade, and you may not skip a patch version. For example, you may not upgrade SCS 1.0.6 directly to SCS 1.0.8; instead, to upgrade SCS 1.0.6 to SCS 1.0.8, you must upgrade SCS 1.0.6 to SCS 1.0.7, then upgrade SCS 1.0.7 to SCS 1.0.8.

### Upgrades on Pivotal Cloud Foundry&reg; 1.7

On Pivotal Cloud Foundry&reg; 1.7, you may not upgrade any version of the Spring Cloud Services product between 1.0.0 and 1.0.8 to any version older than 1.0.9 (e.g., you may not upgrade SCS 1.0.1 to SCS 1.0.2); however, you may upgrade any of these versions directly to 1.0.9 or later. You may upgrade any patch version of SCS after 1.0.9 directly to any later patch version and need not apply any intervening patch versions.

## <a id="product-upgrade-steps"></a>Product Upgrade Steps

Follow the below steps to upgrade the Spring Cloud Services product.

1. Download the latest version of Spring Cloud Services from [Pivotal Network](https://network.pivotal.io/).

1. In the Installation Dashboard of [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager, click **Import a Product** on the left sidebar to upload the `p-spring-cloud-services-<version>.pivotal` file.

    <%= image_tag("./images/upgrades/pre-upload.png") %>

1. After uploading the file, hover over **Spring Cloud Services** in the **Available Products** list and click the **Upgrade &#187;** button.

    <%= image_tag("./images/upgrades/pre-upgrade.png") %>

1. If the Spring Cloud Services tile is colored orange, click the tile to configure it. In the **Stemcell** tab, click **Import Stemcell** to import the correct stemcell.

    <%= image_tag("./images/upgrades/stemcell.png") %>

1. In the Installation Dashboard, click **Apply changes** on the right sidebar.

    <%= image_tag("./images/upgrades/post-upgrade.png") %>

1. The upgrade process may take 20 to 30 minutes.

    <%= image_tag("./images/upgrades/applying-changes.png") %>

1. When the upgrade process is complete, you will see the dialog shown below. Click **Return to Installation Dashboard**.

    <%= image_tag("./images/upgrades/changes-applied.png") %>

1. Congratulations! You have successfully upgraded Spring Cloud Services.

    <%= image_tag("./images/upgrades/installation-dashboard.png") %>

## <a id="service-instance-upgrade-steps"></a>Service Instance Upgrade Steps

After upgrading the Spring Cloud Services product, follow the below steps to upgrade an individual service instance.

<p class='note'><strong>Important</strong>: If you have client applications which work with Spring Cloud Services 1.0.x service instances and are upgrading these service instances to 1.1.x, you must update your client applications to use the current version of the Spring Cloud Services client dependencies. See <a href="#client-application-changes-in-1-0-0">Client Application Changes in 1.1.0</a> below.</p>

<p class='note'><strong>Important</strong>: After upgrading a Circuit Breaker Dashboard service instance from 1.0.x to 1.1.x, you must unbind, rebind, and restart any client applications which were bound to the instance. This is due to a change in how service instance credentials are managed.</p>

### <a id="si-upgrade-using-si-dashboard"></a>Using the Service Instances Dashboard

1. To see the current version of a service instance, visit the Service Instances dashboard. (See the [Service Instances Dashboard](/spring-cloud-services/operator-information.html#service-instances-dashboard) section of the [Operator Information](/spring-cloud-services/operator-information.html) topic.)

    <%= image_tag("./images/upgrades/si-dashboard-pre-upgrade.png") %>

1. Click **Upgrade** in the listing for the service instance. To upgrade all service instances which are not at the versions included in the currently-installed Spring Cloud Services product, you may also click **Upgrade Service Instances**.

    <%= image_tag("./images/upgrades/si-dashboard-upgrade.png") %>

    <%= image_tag("./images/upgrades/si-dashboard-upgrade-service-instances.png") %>

1. Wait while any backing applications belonging to the service instance or instances are upgraded. The dashboard will show the `UPDATING` status for an instance while it is being upgraded.

    <%= image_tag("./images/upgrades/si-dashboard-upgrading-instances.png") %>

1. When the service instances have been upgraded, the dashboard will show the new versions.

    <%= image_tag("./images/upgrades/si-dashboard-post-upgrade.png") %>
    
### <a id="si-upgrade-using-cf-cli"></a>Using the cf Command Line Interface Tool
 
Run `cf update-service -c '{"upgrade":true}' SERVICE_NAME`, where `SERVICE_NAME` is the name of a service instance:

<pre class="terminal">
$ cf update-service -c '{"upgrade": true}' config-server
Updating service instance config-server as admin...
OK

Update in progress. Use 'cf services' or 'cf service config-server' to check operation status.
</pre>

As the output from the command suggests, you can use the `cf services` or `cf service` commands to check the status of the upgrade.

<pre class="terminal">
$ cf service config-server

Service instance: config-server
Service: p-config-server
Bound apps: cook
Tags:
Plan: standard
Description: Config Server for Spring Cloud Applications
Documentation url: http://docs.pivotal.io/spring-cloud-services/
Dashboard: https://spring-cloud-broker.apps.wise.com/dashboard/p-config-server/690f426b-9563-4d98-aa74-05ef3dea32c1

Last Operation
Status: update in progress
Message:
Started: 2016-06-22T16:13:27Z
Updated: 2016-06-22T16:13:27Z
</pre>

You can also use the Service Instances dashboard to see the status and current version of the service instance; that dashboard will update as the instance's status changes. See the [The Service Instances Dashboard](/spring-cloud-services/operator-information.html#service-instances-dashboard)</a> section of the [Operator Information](/spring-cloud-services/operator-information.html).

When the upgrade is complete, `cf service SERVICE_NAME` will report a `status` of `update succeeded`:

<pre class="terminal">
$ cf service config-server

Service instance: config-server
Service: p-config-server
Bound apps: cook
Tags:
Plan: standard
Description: Config Server for Spring Cloud Applications
Documentation url: http://docs.pivotal.io/spring-cloud-services/
Dashboard: https://spring-cloud-broker.apps.wise.com/dashboard/p-config-server/690f426b-9563-4d98-aa74-05ef3dea32c1

Last Operation
Status: update succeeded
Message:
Started: 2016-06-22T16:13:27Z
Updated: 2016-06-22T16:15:28Z
</pre>

## <a id="client-application-changes-in-1-0-0"></a>Client Application Changes in 1.1.0

The client dependencies for Spring Cloud Services were restructured in Spring Cloud Services version 1.1.0. In particular, the `spring-cloud-services-starter-parent` has been replaced with a `spring-cloud-services-dependencies` Maven BOM (<a href="https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Importing_Dependencies">Bill of Materials</a>), which does not include the Spring Cloud or Spring Boot dependency BOMs.

If your client applications are using dependencies corresponding to a 1.0.x version of Spring Cloud Services, you must update them to use the 1.1.x BOM and include the other requisite dependencies. See the <a href="/spring-cloud-services/client-dependencies.html">Client Dependencies</a> topic for details on the current client dependencies.
