---
title: Creating an Instance
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

You can create a Service Registry service instance using either the Cloud Foundry Command Line Interface tool (cf CLI) or [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Apps Manager.

<p class='note'><strong>Note</strong>: Service Registry service instances can run in a high-availability mode, with an arbitrary number of replicated nodes, and can replicate service registrations with peers in other PCF spaces, organizations, or deployments. These behaviors can only be configured through use of the cf CLI. (After creating a service instance using Apps Manager, you can use the cf CLI to configure the instance. See the <a href="/spring-cloud-services/service-registry/updating-an-instance.html">Updating an Instance</a> topic.)</p>

## <a id="using-cf-cli"></a>Using the cf CLI

Target the correct org and space:

<pre class="terminal">
$ cf target -o myorg -s development

API endpoint:   https://api.cf.wise.com (API version: 2.43.0)
User:           user
Org:            myorg
Space:          development
</pre>

You can view plan details for the Config Server product by running `cf marketplace -s`.

<pre class="terminal">
$ cf marketplace
Getting services from marketplace in org myorg / space development as user...
OK

service                       plans          description
p-circuit-breaker-dashboard   standard       Circuit Breaker Dashboard for Spring Cloud Applications
p-config-server               standard       Config Server for Spring Cloud Applications
p-service-registry            standard       Service Registry for Spring Cloud Applications

TIP:  Use 'cf marketplace -s SERVICE' to view descriptions of individual plans of a given service.

$ cf marketplace -s p-service-registry
Getting service plan information for service p-service-registry as user...
OK

service plan   description     free or paid
standard       Standard Plan   free
</pre>

Run `cf create-service`, specifying the service, plan name, and instance name. Optionally, you may add the `-c` flag and provide a JSON object that specifies configuration parameters.

General parameters used to configure the Service Registry are listed below.

| Parameter            | Function                                                                                   | Example                          |
|----------------------|--------------------------------------------------------------------------------------------|----------------------------------|
| <code>count</code>   | The number of nodes to provision: 1 by default, more for running in high-availability mode | <code>'{"count": 3}'</code>      |
| <code>upgrade</code> | Whether to upgrade the instance                                                            | <code>'{"upgrade": true}'</code> |

To create an instance with the default of a single node, run:

<pre class="terminal">
$ cf create-service p-service-registry standard service-registry
Creating service instance service-registry in org myorg / space development as user...
OK

Create in progress. Use 'cf services' or 'cf service service-registry' to check operation status.
</pre>

To create an instance, specifying that three nodes should be provisioned, run:

<pre class="terminal">
$ cf create-service p-service-registry standard service-registry -c '{"count": 3}'
Creating service instance service-registry in org myorg / space development as user...
OK

Create in progress. Use 'cf services' or 'cf service service-registry' to check operation status.
</pre>

As the command output suggests, you can use the `cf services` or `cf service` commands to check the status of the service instance. When the Service Registry instance is ready to be used, the `cf service` command will give a status of `create succeeded`:

<pre class="terminal">
$ cf service service-registry

Service instance: service-registry
Service: p-service-registry
Bound apps:
Tags:
Plan: standard
Description: Service Registry for Spring Cloud Applications
Documentation url: http://docs.pivotal.io/spring-cloud-services/
Dashboard: https://spring-cloud-broker.apps.wise.com/dashboard/p-service-registry/50f247f4-fcb0-43c9-863c-94e21be2051c

Last Operation
Status: create succeeded
Message:
Started: 2016-06-27T23:14:44Z
Updated:
</pre>

<p class='note'><strong>Note</strong>: You may notice a discrepancy between the status given for a service instance by the cf CLI (e.g., by the <code>cf service</code> command) versus that shown on the <a href="/spring-cloud-services/operator-information.html#service-instances-dashboard">Service Instances dashboard</a>. The dashboard is updated frequently (close to real-time); the status retrieved by the cf CLI is not updated as frequently and may take time to match the dashboard.</p>

### <a id="peer-replication-across-pcf-deployments"></a>Peer Replication Across PCF Deployments

You can configure a Service Registry service instance to replicate service registrations with a Service Registry service instance in another PCF deployment (e.g. a PCF deployment in another datacenter). To do so, you must specify the peer Service Registry instance's URI using the `peers` JSON array, which contains an object for each Service Registry peer. You can find a Service Registry service instance's URI on its dashboard (see the [Using the Dashboard](/spring-cloud-services/service-registry/using-the-dashboard.html) topic).

A Service Registry peer can be expressed as shown in the following JSON:

```
'{ "peers": [ {"uri": "https://eureka-c9b8c.wise2.com"} ] }'
```

Peer URIs must use the HTTPS URI scheme (as `https://`) and must follow the format `https://eureka-GUID.APPLICATION_DOMAIN.TLD`, where `GUID` is the GUID assigned to a Service Registry service instance and `APPLICATION_DOMAIN.TLD` is the application domain of the PCF deployment where that Service Registry service instance is running.

Spring Cloud Services will by default validate the SSL certificate on each peer. You can disable this validation for a given peer by setting the `skipSslValidation` parameter to `true` for that peer, as shown in the following JSON:

```
'{ "peers": [ {"uri": "https://eureka-c9b8c.wise2.com", "skipSslValidation": true} ] }'
```

<p class='note'><strong>Note</strong>: If you disable certificate validation for a Service Registry service instance's peer, you may need to set the <code>TRUST_CERTS</code> environment variable on applications bound to that Service Registry service instance or to the peer. See the <a href="/spring-cloud-services/service-registry/writing-client-applications.html#peers-with-self-signed-certificates">Service Registry Peers with Self-Signed Certificates</a> section of the <a href="/spring-cloud-services/service-registry/writing-client-applications.html">Writing Client Applications</a> topic for more information.</p>

The parameters used to configure a peer for the Service Registry are listed below.

| Parameter                                  | Function                                                                                                                                              |
|--------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------|
| <code>peers[i].uri</code>                  | The URI of the Service Registry peer                                                                                                                  |
| <code>peers[i].skipSslValidation</code>    | Whether to skip SSL validation for the Service Registry peer. Valid values are <code>true</code> and <code>false</code> (default: <code>false</code>) |

To create a Service Registry service instance that replicates a registry with a peer in another PCF deployment, allowing for validation of the peer's SSL certificate, run:

<pre class="terminal">
$ cf create-service p-service-registry standard service-registry -c '{ "peers": [ {"uri": "https://eureka-c9b8c.wise2.com"} ] }'
</pre>

To create a Service Registry service instance that replicates a registry with a peer in another PCF deployment, skipping validation of the peer's SSL certificate, run:

<pre class="terminal">
$ cf create-service p-service-registry standard service-registry -c '{ "peers": [ {"uri": "https://eureka-c9b8c.wise2.com", "skipSslValidation": true} ] }'
</pre>

<p class='note'><strong>Important</strong>: If you provide a peer URI which does not correspond to an available Service Registry service instance (e.g. if there is a typo in the peer URI) or if you do not disable SSL certificate validation for a peer and the associated SSL certificate cannot be verified, the <code>cf create-service</code> command may run successfully and the service instance status may be set to <code>create succeeded</code>, but the peer will not be used by the Service Registry service instance. In such a case, an error will appear on the Service Registry dashboard. See the <a href="/spring-cloud-services/service-registry/using-the-dashboard.html#error-conditions">Error Conditions</a> section of the <a href="/spring-cloud-services/service-registry/using-the-dashboard.html">Using the Dashboard</a> topic for more information.</p>

### <a id="peer-replication-across-orgs-or-spaces"></a>Peer Replication Across Orgs or Spaces 

You can configure a Service Registry service instance to replicate service registrations with a Service Registry service instance in another PCF organization or space. To do so, you must specify the peer Service Registry instance's URI using the `peers` JSON array, which contains an object for each Service Registry peer. The URI is set in the `peers[i].uri` parameter. You can find a Service Registry service instance's URI on its dashboard (see the [Using the Dashboard](/spring-cloud-services/service-registry/using-the-dashboard.html) topic).

A Service Registry peer can be expressed as shown in the following JSON:

```
'{ "peers": [ {"uri": "https://eureka-beed72e2.wise.com"} ] }'
```

Peer URIs must use the HTTPS URI scheme (as `https://`) and must follow the format `https://eureka-GUID.APPLICATION_DOMAIN.TLD`, where `GUID` is the GUID assigned to a Service Registry service instance and `APPLICATION_DOMAIN.TLD` is the application domain of the PCF deployment where that Service Registry service instance is running.

To create a Service Registry service instance that replicates a registry with a peer in another PCF organization, run:

<pre class="terminal">
$ cf create-service p-service-registry standard service-registry -c '{ "peers": [ {"uri": "https://eureka-beed72e2.wise.com"} ] }'
</pre>

<p class='note'><strong>Important</strong>: If you provide a peer URI which does not correspond to an available Service Registry service instance (e.g. if there is a typo in the peer URI) or if you do not disable SSL certificate validation for a peer and the associated SSL certificate cannot be verified, the <code>cf create-service</code> command may run successfully and the service instance status may be set to <code>create succeeded</code>, but the peer will not be used by the Service Registry service instance. In such a case, an error will appear on the Service Registry dashboard. See the <a href="/spring-cloud-services/service-registry/using-the-dashboard.html#error-conditions">Error Conditions</a> section of the <a href="/spring-cloud-services/service-registry/using-the-dashboard.html">Using the Dashboard</a> topic for more information.</p>

## <a id="using-apps-manager"></a>Using Apps Manager

Log into Apps Manager as a Space Developer. In the Marketplace, select **Service Registry**.

<%= image_tag("service-registry/marketplace.png") %>

Select the desired plan for the new service instance.

<%= image_tag("service-registry/select_plan.png") %>

Provide a name for the service instance (for example, "service-registry"). Click the **Add** button.

<%= image_tag("service-registry/instance_name.png") %>

In the **Services** list, click the listing for the new service instance.

<%= image_tag("service-registry/service_successfully_added.png") %>

Click the **Manage** link.

<%= image_tag("service-registry/manage_link.png") %>

It may take a few minutes to provision the service instance; while it is being provisioned, you will see a "The service instance is initializing" message. When the instance is ready, its dashboard will load automatically.

<%= image_tag("service-registry/dashboard_more.png") %>

For information about registering an application with a Service Registry service instance, see the <a href="/spring-cloud-services/service-registry/writing-client-applications.html">Writing Client Applications</a> topic.
