---
title: Using the Dashboard
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

<p class='note'><strong>Note</strong>: Service Registry for Pivotal Cloud Foundry is currently based on Spring Cloud&reg; OSS Brixton. If binding a Spring Cloud OSS Angel application to a Service Registry service instance, you may see irregular behavior in the Service Registry service instance dashboard's listing for the application. <br /><br /> For information on current client dependencies provided for use with Spring Cloud Services service instances, see the <a href="/spring-cloud-services/client-dependencies.html">Client Dependencies</a> topic.</p>

To find the dashboard, navigate in Pivotal Cloud Foundry&reg; Apps Manager to the Service Registry service instance's space, click the listing for the service instance, and then click **Manage**.

<%= image_tag("service-registry/sr_manage_link.png") %>

If you are using version 6.8.0 or later of the Cloud Foundry Command Line Interface tool (cf CLI), you can also use `cf service SERVICE_NAME`, where `SERVICE_NAME` is the name of the Service Registry service instance:

<pre class="terminal">
$ cf service service-registry

Service instance: service-registry
Service: p-service-registry
Bound apps:
Tags:
Plan: standard
Description: Service Registry for Spring Cloud Applications
Documentation url: http://docs.pivotal.io/spring-cloud-services/
Dashboard: https://spring-cloud-broker.wise.com/dashboard/p-service-registry/a9bcaf09-ba0a-4650-bdfc-75784882245e

Last Operation
Status: create succeeded
Message:
Started: 2016-09-19T21:05:32Z
Updated:
</pre>

Visit the URL given for "Dashboard".

## <a id="dashboard-information"></a>Dashboard Information

The dashboard shows the URL of the Service Registry service instance, the count of backing applications for the service instance (the High Availability or HA count), and the URLs of any peer service instances, as well as the applications currently registered with the service instance or with any peer service instances.

<%= image_tag("service-registry/empty-dashboard-top.png") %>

If the Service Registry service instance has been configured to replicate its registry with any peers, peers are listed according to their status in the "replicas" fields under **General Info**. Peers which are registered with this service instance are listed in "registered-replicas" and, if currently in service, will be listed in "available-replicas". Peers which have been configured for this service instance but have not registered will be listed in "unavailable-replicas".

<%= image_tag("service-registry/empty-dashboard-middle.png") %>

Before you have bound any applications to the Service Registry instance, the Service Registry dashboard displays only `EUREKA-SERVER` (the Service Registry backing application itself) under "Registered Apps". If you bind an application which uses ```@EnableDiscoveryClient``` to the service instance (see the <a href="/spring-cloud-services/service-registry/writing-client-applications.html">Writing Client Applications</a> topic), restage the application, and wait for it to register with Eureka, you will see it listed in the dashboard.

<%= image_tag("service-registry/registered_service.png") %>

## <a id="error-conditions"></a>Error Conditions

The dashboard may show error, warning, or informational messages depending on the configuration and status of the service instance. See the below sections for more information.

### <a id="peer-not-found"></a>Peer Service Instance Not Found (404)

If you have configured a Service Registry service instance with a peer service instance URI that does not correspond to an available Service Registry service instance, you may see the following error message on the dashboard:

<%= image_tag("service-registry/dashboard-peer-not-found.png") %>

Double-check the URI of the peer listed in the error message. This can occur (e.g.) when there is a mistyped URI or when the service instance corresponding to the URI has been deleted.

### <a id="peer-cert-not-verified"></a>Peer Service Instance SSL Certificate Not Verified

If you have configured a Service Registry service instance with a peer service instance that uses a self-signed SSL certificate and have not disabled certificate validation for the peer service instance, you may see the following error message on the dashboard:

<%= image_tag("service-registry/dashboard-cert-not-verified.png") %>

To enable the Service Registry service instance to replicate a registry with this peer service instance without a secure connection, you can update the configuration for this Service Registry service instance to disable SSL certificate validation for the peer. See the [Peer Replication Across PCF Deployments](/spring-cloud-services/service-registry/updating-an-instance.html#peer-replication-across-pcf-deployments) section of the [Updating an Instance](/spring-cloud-services/service-registry/updating-an-instance.html) topic for more information.

### <a id="peer-node-count-difference"></a>Peer Service Instance Node Count Difference

If you have configured a Service Registry service instance with a peer service instance and the two service instances have differing High Availability (HA) node counts, you may see the following error message on the dashboard:

<%= image_tag("service-registry/dashboard-different-node-counts.png") %>

You can update one of the service instances to add or remove nodes so that the two service instances have consistent node counts. See the [Configuration Parameters](/spring-cloud-services/service-registry/updating-an-instance.html#configuration-parameters) section of the [Updating an Instance](/spring-cloud-services/service-registry/updating-an-instance.html) topic for more information.

### <a id="peer-list-difference"></a>Peer Service Instance Peer List Difference

If you have configured a Service Registry service instance with a peer service instance and the two service instances have differing lists of peer service instances, you may see the following message on the dashboard:

<%= image_tag("service-registry/dashboard-different-peer-list.png") %>

You can update the configuration for this Service Registry service instance or for the peer instance to give them consistent peer lists. See the [Peer Replication Across PCF Deployments](/spring-cloud-services/service-registry/updating-an-instance.html#peer-replication-across-pcf-deployments) or [Peer Replication Across Orgs or Spaces](/spring-cloud-services/service-registry/updating-an-instance.html##peer-replication-across-orgs-or-spaces) sections of the [Updating an Instance](/spring-cloud-services/service-registry/updating-an-instance.html) topic for more information.

### <a id="peer-version-difference"></a>Peer Service Instance Version Difference

If you have configured a Service Registry service instance with a peer service instance that is at a different version (e.g. that has not been upgraded after an upgrade of the Spring Cloud Services product), you may see the following message on the dashboard:

<%= image_tag("service-registry/dashboard-version-difference.png") %>

You can upgrade the older of the service instances so that the peers are at consistent versions. See the [Service Instance Upgrades](/spring-cloud-services/service-instance-upgrades.html) topic for more information.
