---
title: Creating an Instance
---

You can create a Circuit Breaker Dashboard instance using either the cf Command Line Interface tool or Pivotal Cloud Foundry Apps Manager.

## Using the cf CLI

Begin by targeting the correct space.

<pre class="terminal">
$ cf target -o myorg -s outer

API endpoint:   https://api.mydomain.com (API version: 2.25.0)
User:           user
Org:            myorg
Space:          outer
</pre>

If desired, view plan details for the Circuit Breaker Dashboard product using  
`cf marketplace -s`.

<pre class="terminal">
$ cf marketplace
Getting services from marketplace in org myorg / space outer as user...
OK

service                       plans                     description
p-circuit-breaker-dashboard   standard                  Circuit Breaker Dashboard for Spring Cloud Applications
p-config-server               standard                  Config Server for Spring Cloud Applications
p-service-registry            standard                  Service Registry for Spring Cloud Applications

TIP:  Use 'cf marketplace -s SERVICE' to view descriptions of individual plans of a given service.

$ cf marketplace -s p-circuit-breaker-dashboard
Getting service plan information for service p-circuit-breaker-dashboard as user...
OK

service plan   description     free or paid
standard       Standard Plan   free
</pre>

Run `cf create-service`, specifying the service, plan name, and instance name.

<pre class="terminal">
$ cf create-service p-circuit-breaker-dashboard standard circuit-breaker-dashboard
Creating service instance circuit-breaker-dashboard in org myorg / space outer as user...
OK
</pre>

## Using Apps Manager

Log into Apps Manager as a Space Developer. In the Marketplace, select **Circuit Breaker for Pivotal Cloud Foundry**.  

   <%= image_tag("circuit-breaker/1_marketplace.png") %>

Select the desired plan for the new service.  

   <%= image_tag("circuit-breaker/2_select_plan.png") %>

Provide a name for the service (e.g. &#8220;circuit-breaker-dashboard&#8221;). Click the **Add** button.  

   <%= image_tag("circuit-breaker/3_instance_name.png") %>

In the **Services** list, click the **Manage** link under the listing for the new service instance.  

   <%= image_tag("circuit-breaker/4_service_successfully_added.png") %>

It may take a few minutes to provision the dashboard. Once it is ready, you will see a **Circuit Breaker Dashboard** link. Click the link to enter the instance dashboard.

   <%= image_tag("circuit-breaker/dashboard.png") %>

The Circuit Breaker Dashboard instance is now ready to be used. For an example of using a circuit breaker in an application, see the <a href="/spring-cloud-services/circuit-breaker/using-a-circuit-breaker.html">Using a Circuit Breaker</a> subtopic.
