---
title: Client Dependencies
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

See below for information about the dependencies required for client applications using Spring Cloud Services service instances.

## <a id="include-dependencies"></a>Include Spring Cloud Services Dependencies

<%= partial 'general-dependencies' %>

### <a id="config-server"></a>Config Server

Your application must declare `spring-cloud-services-starter-config-client` as a dependency.

<%= partial 'config-server-dependency' %>

### <a id="service-registry"></a>Service Registry

Your application must declare `spring-cloud-services-starter-service-registry` as a dependency.

<%= partial 'service-registry-dependency' %>

### <a id="circuit-breaker-dashboard"></a>Circuit Breaker Dashboard

Your application must declare `spring-cloud-services-starter-circuit-breaker` as a dependency.

<%= partial 'circuit-breaker-dashboard-dependency' %>

## <a id="dependency-versioning"></a>Dependency Versioning

A release of the Spring Cloud Services client dependencies follows a release of the underlying open-source Spring Cloud components, which are based on particular releases of Spring Boot. For more information about the basis of Spring Cloud or Spring Cloud Services library releases, see below.

### <a id="spring-cloud-oss-releases"></a>Spring Cloud OSS Releases

Each Spring Cloud major release is named after a London Underground station (as in "Spring Cloud Camden.RELEASE"). Minor releases are known as service releases and are designated `SR[n]` (as in "Spring Cloud Camden.SR7"), where `[n]` is the minor release number.

A given major release of Spring Cloud supports the current Spring Boot minor release and one Spring Boot minor release following. When a new Spring Boot major release is published, it will be supported only in the next major release of Spring Cloud. (The Spring Boot 2.0 release follows the Spring Boot 1.5 release; there was no 1.6 release.)

| Spring Cloud Release | Supported Spring Boot Release |
|----------------------|-------------------------------|
| Camden               | 1.4--1.5                      |
| Dalston              | 1.5                           |
| Edgware              | 1.5                           |
| Finchley             | 2.0                           |

### <a id="spring-cloud-services-client-releases"></a>Spring Cloud Services Client Releases

The Spring Cloud Services connectors, as well as the starters dependencies that include the connectors, are versioned and released independently of the Spring Cloud Services tile. The connectors and starters are based on the open-source Spring Cloud client libraries for Config Server, Netflix Eureka, and Netflix Hystrix, and have a new release to follow each Spring Cloud release that affects these components.

A given minor release of the Spring Cloud Services starters uses a particular release of Spring Cloud.

| Spring Cloud Services Starters Release | Underlying Spring Cloud Release |
|----------------------------------------|---------------------------------|
| 1.2.0                                  | Brixton.SR6                     |
| 1.3.0                                  | Camden.SR2                      |
| 1.4.0                                  | Camden.SR3                      |
| 1.5.0                                  | Dalston.SR1                     |

### <a id="spring-cloud-services-tile-releases"></a>Spring Cloud Services Tile Releases

The Spring Cloud Services tile is versioned and released independently of the Spring Cloud Services connectors and starters. The tile contains the server-side components from Spring Cloud for Config Server, Netflix Eureka, Netflix Hystrix, and Netflix Hystrix Dashboard, and typically has a new release following each Spring Cloud service release that affects these components.

A given minor release of the tile includes server-side components from a particular release of Spring Cloud, typically the last stable release.

| Spring Cloud Services Tile Release | Underlying Spring Cloud Release |
|------------------------------------|---------------------------------|
| 1.1.x                              | Brixton                         |
| 1.2.x                              | Brixton                         |
| 1.3.x                              | Camden                          |
| 1.4.x                              | Dalston                         |
